﻿<h2>Products</h2>
<span>Total {{products.length}} products</span>

    <table>
      <tr>
        <th>Product Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Documentation</th>
      </tr>
      <tr ng-repeat="product in products">
        <td>{{product.Name}}</td>
        <td>{{product.Category}}</td>
        <td>{{product.Price  | currency}}</td>
        <td><a href="{{product.Link}}" ng-show="{{product.ShowLink}}">Download</a></td>
      </tr>
    </table>

<hr/>
<button type="button" ng-click="addNewProduct()">Add new product</button>
<!--[ <a href="" ng-click="archive()">archive</a> ]
    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
            <a ng-click="deletePost($index)">delete</a>
        </li>
    </ul>
<form ng-submit="addTodo()">
    <input type="text" ng-model="todoText" size="30"
        placeholder="add new todo here">
    <input class="btn-primary" type="submit" value="add">
</form>-->
